body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Play", sans-serif;
}

.background{
    background-image: url(../assets/df4e8ba28f912bf9cdf9fa0dfc196411.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    height: 200px;
    width: 300px;
}