
/*LEFT SIDE*/

.left-side-shadow{
    background-color: #600707;
    height: 420px;
}
.left-side-top{
    background-color: #d40b0b;
    height: 415px;
    margin-left: 10px;
    margin-top: -7px;
}

.left-borders{
    width: 310px;
    border-radius:  15px 0 0 30px;
}

/**HEADER*/

.header{
    background-color: #a00c0c;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 65%, 35% 100%, 0 100%);
    height: 100px;
    border-top-left-radius: 10%;
    width: 300px;
    border-bottom: 5px solid #600707;
    box-shadow: -2px -1px 12px -4px#490505 inset;
    padding: 15px;
    box-sizing: border-box;
}

.lights-container{
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: initial;
}

.visor{
    border: 2px solid #ffffff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: radial-gradient( #c0dbfa, #8edcee, #77daf0);
    box-shadow: 1px 1px 12px -1px #4f535a;
    margin-right: 15px;
}
.reflex{
    background-color: rgba(252, 250, 250, 0.829);
    width: 14px;
    height: 7px;
    border-radius: 65% 30% 65% 28%;
    margin-top: 7px;
    margin-left: 7px;
}

.lights{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 1px 1px 12px -1px #4f535a;
}
.first{
    background: radial-gradient( #f17676, #f84a4a, #ff2525);
}
.second{
    background: radial-gradient( #dff176,#d0e74b, #d5f32c);
}
.third{
    background: radial-gradient( #76f17c,#46df4d, #26e02f);
}

/*DISPLAY*/

.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
   background-color:#c5c2c2;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%, 0 85%);
   width: 250px;
   height: 200px;
   border-radius: 9px 9px 9px 0;
   margin: 12px 10px 0 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   box-shadow: 1px 1px 12px -1px #4f535a;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    padding: 10px;
}

.dots{
    border: 1px solid #333;
    background: radial-gradient( #f36b7d, #b92035, #790b19);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.poke-img-container{
    border: 3px solid rgb(114, 114, 114);
    background-color: #ffffff;
    border-radius: 10px;
    width: 200px;
    height: 140px;
    box-shadow: -2px -1px 12px -4px #868585 inset;
}

/**COUNTER PLACE*/
.counter-container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:initial;
    box-sizing: border-box;
}

.round-button{
    width: 50px;
    height: 50px;
    background: radial-gradient( #1e48ee,  #183bc5);
    border-radius: 50%;
    border-left: 2px solid #071342;
    border-bottom: 2px solid #071342;
    box-shadow: 1px 1px 12px -1px #4f535a;
}

.counter{
    width: 70px;
    height: 40px;
    background-color: seashell;
    border-radius: 5px;
    box-shadow: 1px 1px 12px -1px #4f535a inset;
    margin-top: 10px;
}

.controller{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 5px;
}
.up-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.control-details{
    background: linear-gradient(#313131, #161515);
    color: rgb(26, 23, 23);
    width: 22px;
    height: 22px;
    font-size: 7px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shad{
    border-left: 2px solid #050505;
    border-bottom: 2px solid #575454;
}
.center-shad{
    background: radial-gradient(circle, #313131 0%, #161515 100%);
}

/*I'll get along with you*/
.cylinder {
    margin-bottom: 15px;
	width: 35px;
	height: 422px;
	border-radius: 75px/25px;
    background: linear-gradient(to right, #600707, #a00c0c, #ca2828, #a00c0c, #600707);
    box-sizing: border-box;
    box-shadow: 0px 2px 12px -1px #490505;
    z-index: 2;
}
.cylinder-top{
    width: 100%;
    height: 65px;
    background: linear-gradient(to right, #4d0606, #7a0909, #ca2828, #7a0909, #4d0606);
    clip-path: circle(100% at 50% 81%);
}

/*RIGHT SIDE*/

.right-side-shadow{
    background-color: #600707;
    height: 420px;
    width: 310px;
    border-radius: 0 15px 30px 0;
    clip-path: polygon(0 14%, 42% 14%, 56% 23%, 100% 23%, 100% 100%, 0 100%);
}
.right-side-top{
    background-color: #d40b0b;
    height: 415px;
    margin-right: 2px;
    margin-top: -7px;
    border-radius: 0 15px 30px 0;
    clip-path: polygon(0 14%, 42% 14%, 56% 23%, 100% 23%, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-display{
    background-image: linear-gradient(#4cec2c,#35a01f);
    width: 220px;
    height: 130px;
    border: 1px solid rgba(43, 43, 43, 0.329);
    border-radius: 9px;
    box-shadow: 1px 2px 12px 3px #868585 inset;
    margin-top: 75px;
}

.input{
    width: 220px;
    padding: 7px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 2px;
    border: none;
    background: linear-gradient(#dfdfdf #ffffff);
    font-family: "Play", sans-serif;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    box-sizing: border-box;
}

.caret-button-container{
    display: flex;
    justify-content: stretch;
    width: 35%;
}
.caret-button-container > button{
    background: linear-gradient(#585757, #363636);
    color: #60071d;
    border-radius: 2px;
}
button i{
    font-size: 24px;
    margin: 5px;
}

.random-button{
    width: 65%;
    border-radius: 4px;
    font-family: "Play", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 3px;
    border: none;
    border-left: 2px solid #3a0303;
    border-bottom: 2px solid #3a0303;
    background: linear-gradient(#aa173c, #60071d);
}
